<?xml version="1.0" encoding="UTF-8"?>
<!--

    The contents of this file are subject to the license and copyright
    detailed in the LICENSE and NOTICE files at the root of the source
    tree and available online at

    http://www.dspace.org/license/

-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

    <!-- 
        allows us to use spring annotations in beans 
    -->
    <context:annotation-config/>

    <aop:aspectj-autoproxy proxy-target-class="true"/>
    <!--
        where to look
    -->
    <context:component-scan base-package="cz.muni.ics"/>

    <!--
        import configurations of modules
    -->
    <import resource="serialModule.xml"/>
    <import resource="monographModule.xml"/>
    <import resource="proceedingsModule.xml"/>
    <import resource="celebrityModule.xml"/>

    <util:list id="importOptions">
        <bean
                class="cz.muni.ics.dspace5.impl.io.CLIOptionImpl"
                p:description="Path in meditor"
                p:option="value"
                p:hasArgs="true"
                p:required="true"
        />
        <bean
                class="cz.muni.ics.dspace5.impl.io.CLIOptionImpl"
                p:description="Method of import single/update"
                p:option="method"
                p:hasArgs="true"
                p:required="true"
        />
        <bean
                class="cz.muni.ics.dspace5.impl.io.CLIOptionImpl"
                p:description="user executing import"
                p:required="false"
                p:option="user"
                p:hasArgs="true"
        />
    </util:list>

    <bean
        id="commandLineSerivce"
        class="cz.muni.ics.dmlcz5.services.io.CommandLineServiceImpl"
        >
        <property name="options">
            <map>
                <entry key="import" value-ref="importOptions" />
            </map>
        </property>
    </bean>



    <bean
            id="jaxbc"
            class="javax.xml.bind.JAXBContext"
            factory-method="newInstance"
    >
        <constructor-arg>
            <list>
                <value>cz.muni.ics.dmlcz5.domain.Article</value>
                <value>cz.muni.ics.dmlcz5.domain.Issue</value>
                <value>cz.muni.ics.dmlcz5.domain.Journal</value>
                <value>cz.muni.ics.dmlcz5.domain.Volume</value>
                <value>cz.muni.ics.dmlcz5.services.io.references.References</value>
                <value>cz.muni.ics.dmlcz5.services.io.related.Related</value>
            </list>
        </constructor-arg>
    </bean>

    <bean
            id="unmarshaller"
            class="javax.xml.bind.Unmarshaller"
            factory-bean="jaxbc"
            factory-method="createUnmarshaller"
    />

    <bean
            id="objectWrapper"
            class="cz.muni.ics.dmlcz5.ObjectWrapperImpl"
            scope="prototype"
    />

    <bean
            id="issuePathComparator"
            class="cz.muni.ics.dspace5.comparators.IssuePathComparator"
    />

    <bean
            id="articlePathComparator"
            class="cz.muni.ics.dspace5.comparators.ArticlePathComparator"
    />

    <bean
            id="optionComparator"
            class="cz.muni.ics.dspace5.comparators.OptionComparator"
    />

    <bean
            id="comparatorFactory"
            class="cz.muni.ics.dspace5.comparators.ComparatorFactory"
    >
        <lookup-method
                name="provideIssuePathComparator"
                bean="issuePathComparator"
        />
        <lookup-method
                name="provideArticlePathComparator"
                bean="articlePathComparator"
        />
        <lookup-method
                name="provideOptionComparator"
                bean="optionComparator"
        />
    </bean>

    <bean
            id="objectWrapperFactory"
            class="cz.muni.ics.dspace5.impl.ObjectWrapperFactoryImpl"
    >
        <lookup-method
                name="createObjectWrapper"
                bean="objectWrapper"
        />
    </bean>

    <bean
            id="mapper"
            class="org.dozer.DozerBeanMapper"
            scope="singleton"
    >
        <property name="mappingFiles">
            <list>
                <value>dozer-mapping.xml</value>
            </list>
        </property>
        <property name="customConvertersWithId">
            <map>
                <entry key="simpleconverter" value-ref="simpleElementConverter"/>
                <entry key="composedconverter" value-ref="composedElementConverter"/>
                <!--<entry key="relateddocumentconverter" value-ref="relatedDocumentConverter" />-->
                <entry key="dmlnoteconverter" value-ref="dmlNoteConverter"/>
                <entry key="titlecompconverter" value-ref="titlecompConverter"/>
                <entry key="dmlpersonconverter" value-ref="dmlPersonConverter"/>
            </map>
        </property>
    </bean>

    <bean
            id="simpleElementConverter"
            class="cz.muni.ics.dmlcz5.convertors.SimpleElementConverter"
    />

    <bean
            id="composedElementConverter"
            class="cz.muni.ics.dmlcz5.convertors.ComposedElementConverter"
            p:valueFieldName="value"
    />

    <bean
            id="dmlNoteConverter"
            class="cz.muni.ics.dmlcz5.convertors.ComposedElementConverter"
            p:valueFieldName="content"
    />

    <bean
            id="titlecompConverter"
            class="cz.muni.ics.dmlcz5.convertors.TitlecompConverter"
            p:subtitleSchema="dc"
            p:subtitleElement="title"
            p:subtitleQualifier="alternative"
            p:volumeSchema="dc"
            p:volumeElement="title"
            p:volumeQualifier="volume"
    />

    <bean
            id="dmlPersonConverter"
            class="cz.muni.ics.dmlcz5.convertors.DmlPersonConvertor"
    />

    <bean
            id="documentBuilderFactory"
            class="javax.xml.parsers.DocumentBuilderFactory"
            factory-method="newInstance"
    />

    <bean
            id="documentBuilder"
            class="javax.xml.parsers.DocumentBuilder"
            factory-bean="documentBuilderFactory"
            factory-method="newDocumentBuilder"
    />

    <bean
            id="xPathFactory"
            class="javax.xml.xpath.XPathFactory"
            factory-method="newInstance"
    />

    <bean
            id="xPath"
            class="javax.xml.xpath.XPath"
            factory-bean="xPathFactory"
            factory-method="newXPath"
    />

    <bean
            id="collectionLocker"
            class="cz.muni.ics.dmlcz5.movingwall.CollectionMWLocker"
    />

    <bean
            id="bitstreamLocker"
            class="cz.muni.ics.dmlcz5.movingwall.BitstreamMWLocker"
    />

    <bean
            id="mwLockerProvider"
            class="cz.muni.ics.dmlcz5.movingwall.MWLockerProviderImpl"
    >
        <property name="implementedClasses">
            <list>
                <value>org.dspace.content.Bitstream</value>
                <value>org.dspace.content.Collection</value>
            </list>
        </property>
        <lookup-method
                name="getCollectionLocker"
                bean="collectionLocker"
        />
        <lookup-method
                name="getBitstreamLocker"
                bean="bitstreamLocker"
        />
    </bean>

    <bean
            id="moduleManager"
            class="cz.muni.ics.dspace5.impl.ModuleManagerImpl"
    >
        <property name="availableModules">
            <map>
                <entry key="serial" value-ref="serialModule"/>
                <entry key="monograph" value-ref="monographModule"/>
                <entry key="proceedings" value-ref="proceedingsModule"/>
                <entry key="celebrity" value-ref="celebrityModule"/>
            </map>
        </property>
    </bean>

    <bean
            id="deleteObjectService"
            class="cz.muni.ics.dspace5.impl.io.DeleteObjectService"
    />

    <bean
            id="importAndMovingWallObjectService"
            class="cz.muni.ics.dspace5.impl.io.ImportAndMovingWallObjectService"
    />

    <bean
            id="dspaceExecutor"
            class="cz.muni.ics.dspace5.impl.io.DSpaceExecutorImpl"
    >
        <property name="dspaceServices">
            <map>
                <entry key="delete" value-ref="deleteObjectService"/>
                <entry key="import" value-ref="importAndMovingWallObjectService"/>
                <entry key="movingwall" value-ref="importAndMovingWallObjectService"/>
            </map>
        </property>
    </bean>

    <!--    <bean
            id="citationProvider"
            class="cz.muni.ics.dspace5.citation.CitationProviderImpl"

        />

        <bean
            id="iso690Processor"
            class="cz.muni.ics.dspace5.citation.CitationProcessorImpl"
            p:dcField="dc.identifier.citation"
            p:citationProvider-ref="citationProvider"
            p:language="cs-CZ"
            p:style="iso690-numeric-cs"
        />

        <bean
            id="ieeeProcessor"
            class="cz.muni.ics.dspace5.citation.CitationProcessorImpl"
            p:dcField="dc.identifier.citation"
            p:citationProvider-ref="citationProvider"
            p:language="cs-CZ"
            p:style="ieee"
        />

        <bean
            id="citationProviderFactory"
            class="cz.muni.ics.dspace5.citation.CitationProviderFactory"
        >
            <property name="processors">
                <list>
                    <ref
                        bean="ieeeProcessor"
                    />
                    <ref
                        bean="iso690Processor"
                    />
                </list>
            </property>
        </bean>-->
</beans>
