<?xml version="1.0" encoding="UTF-8"?>
<!--

    The contents of this file are subject to the license and copyright
    detailed in the LICENSE and NOTICE files at the root of the source
    tree and available online at

    http://www.dspace.org/license/

-->
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:p="http://www.springframework.org/schema/p"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <context:annotation-config /> <!-- allows us to use spring annotations in beans -->
    <context:component-scan base-package="cz.muni.ics" /> 

    <import resource="serialModule.xml" />
    <import resource="monographModule.xml" />
    
    <bean
        id="commandLineParser"
        class="org.apache.commons.cli.DefaultParser"
    />

    <bean
        id="helpFormatter"
        class="org.apache.commons.cli.HelpFormatter"
    />
    
    <bean
        id="commandLineService"
        class="cz.muni.ics.digilib.services.io.CommandLineServiceImpl"
    >
        <lookup-method
            name="getDeleteCommandLine"
            bean="deleteCommandLine"
        />
        <lookup-method
            name="getImportCommandLine"
            bean="importCommandLine"
        />
        <lookup-method
            name="getMovingWallCommandLine"
            bean="movingWallCommandLine"
        />
    </bean>
    
    <bean
        id="deleteCommandLine"
        class="cz.muni.ics.digilib.services.io.DeleteCommandLine"
    />
    
    <bean
        id="importCommandLine"
        class="cz.muni.ics.digilib.services.io.ImportCommandLine"
    />
    
    <bean
        id="movingWallCommandLine"
        class="cz.muni.ics.digilib.services.io.MovingWallCommandLine"
    />
    
    <bean
        id="jaxbc"
        class="javax.xml.bind.JAXBContext"
        factory-method="newInstance"
    >
        <constructor-arg>
            <list>
                <value>cz.muni.ics.digilib.domain.Periodical</value>
                <value>cz.muni.ics.digilib.domain.Volume</value>
                <value>cz.muni.ics.digilib.domain.Issue</value>
                <value>cz.muni.ics.digilib.domain.Article</value>
                <value>cz.muni.ics.digilib.domain.MonographicSeries</value>
                <value>cz.muni.ics.digilib.domain.Monography</value>
                <value>cz.muni.ics.digilib.domain.MonographyChapter</value>
            </list>
        </constructor-arg>
    </bean>
    
    <bean
        id="unmarshaller"
        class="javax.xml.bind.Unmarshaller"
        factory-bean="jaxbc"
        factory-method="createUnmarshaller"
    />
    
    <bean
        id="objectMapper"
        class="cz.muni.ics.dspace5.impl.ObjectMapperImpl"
        scope="singleton"
        init-method="init"
    />
    
    <bean
        id="dspaceKernel"
        class="org.dspace.utils.DSpace"
    />
    
    <bean
        id="objectWrapper"
        class="cz.muni.ics.digilib.ObjectWrapperImpl"
        scope="prototype"
    />
    
    <bean
        id="issuePathComparator"
        class="cz.muni.ics.dspace5.comparators.IssuePathComparator"
    />
    
    <bean
        id="articlePathComparator"
        class="cz.muni.ics.dspace5.comparators.ArticlePathComparator"
    />
    
    <bean
        id="comparatorFactory"
        class="cz.muni.ics.dspace5.comparators.ComparatorFactory"
    >
        <lookup-method
            name="provideIssuePathComparator"
            bean="issuePathComparator"
        />        
        <lookup-method
            name="provideArticlePathComparator"
            bean="articlePathComparator"
        />
    </bean>
    
    <bean
        id="objectWrapperFactory"
        class="cz.muni.ics.dspace5.impl.ObjectWrapperFactory"
    >
        <lookup-method
            name="createObjectWrapper"
            bean="objectWrapper"
        />
    </bean>
    
    <bean
        id="mapper"
        class="org.dozer.DozerBeanMapper"
        scope="singleton"
    >
        <property name="mappingFiles">
            <list>
                <value>dozer-mapping.xml</value>
            </list>
        </property>
        <property name="customConvertersWithId">
            <map>
                <entry key="simpleconverter" value-ref="simpleElementConverter" />
                <entry key="composedconverter" value-ref="composedElementConverter" />
                <entry key="contributorconverter" value-ref="contributorConverter" />
                <entry key="authorconverter" value-ref="authorConverter" />
            </map>
        </property>
    </bean> 
    
    <bean
        id="metadatumFactory"
        class="cz.muni.ics.dspace5.impl.MetaDatumFactoryImpl"
    />
    
    <bean
        id="simpleElementConverter"
        class="cz.muni.ics.digilib.convertors.SimpleElementConverter"
        p:metadatumFactory-ref="metadatumFactory"
    />      
            
    <bean
        id="composedElementConverter"
        class="cz.muni.ics.digilib.convertors.ComposedElementConverter"
        p:metadatumFactory-ref="metadatumFactory"
    />
    
    <bean 
        id="contributorConverter"
        class="cz.muni.ics.digilib.convertors.ContributorConvertor"
        p:metadatumFactory-ref="metadatumFactory"
    >
        <property name="allowedRoles">
            <list>
                <value>advisor</value>
                <value>author</value>
                <value>editor</value>
                <value>illustrator</value>
                <value>other</value>
            </list>
        </property>
    </bean> 
    
    <bean
        id="authorConverter"
        class="cz.muni.ics.digilib.convertors.AuthorConverter"
        p:metadatumFactory-ref="metadatumFactory"
    />
        
    <bean
        id="documentBuilderFactory"
        class="javax.xml.parsers.DocumentBuilderFactory"
        factory-method="newInstance"
    />
    
    <bean
        id="documentBuilder"
        class="javax.xml.parsers.DocumentBuilder"
        factory-bean="documentBuilderFactory"
        factory-method="newDocumentBuilder"
    />
    
    <bean
        id="xPathFactory"
        class="javax.xml.xpath.XPathFactory"
        factory-method="newInstance"
    />
    
    <bean
        id="xPath"
        class="javax.xml.xpath.XPath"
        factory-bean="xPathFactory"
        factory-method="newXPath"
    /> 
    
    <bean
        id="collectionLocker"
        class="cz.muni.ics.digilib.movingwall.CollectionMWLocker"
    />
    
    <bean
        id="bitstreamLocker"
        class="cz.muni.ics.digilib.movingwall.BitstreamMWLocker"
    />
    
    <bean
        id="mwLockerProvider"
        class="cz.muni.ics.digilib.movingwall.MWLockerProviderImpl"
    >
        <property name="implementedClasses">
            <list>
                <value>org.dspace.content.Bitstream</value>
                <value>org.dspace.content.Collection</value>
            </list>
        </property>
        <lookup-method
            name="getCollectionLocker"
            bean="collectionLocker"
        />
        <lookup-method
            name="getBitstreamLocker"
            bean="bitstreamLocker"
        />
    </bean>
    
    <bean
        id="moduleManager"
        class="cz.muni.ics.dspace5.impl.ModuleManagerImpl"
    >
        <property name="availableModules">
            <map>
                <entry key="serial" value-ref="serialModule" />
                <entry key="monograph" value-ref="monographModule" />
            </map>
        </property>
    </bean>
    
    
</beans>
