/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 24, 2015, 8:39:25 AM
    Author     : Dominik Szalai - emptulik at gmail.com
*/

.sidebar ul.list-group-flush li:first-child {
    border-top: 0;
}

.drop-badge {
    cursor: pointer;
}

html {
    position: relative;
    min-height: 100%;
}

@media (max-width: 1219px) {
    body {
        margin-bottom: 400px;
    }

    .footer-container {
        height: 350px;
        background-color: #f7f7f7;
        border-top: 1px solid #000;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}
@media (min-width: 1220px) {
    body {
        margin-bottom: 350px;
    }
    .footer-container {
        height: 280px;
        background-color: #f7f7f7;
        border-top: 1px solid #000;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

.card-merge-border {
    border-top: 0 !important;;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.progress-similar {
    margin-top: .25em;
}

.vol-issue-mono-listing {
	margin-top: 1em;
}
